/*specific classes*/
body {
    margin: 0;
}




/*utility classes*/
.m0 {
    margin: 0;
}
.px1 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.header {
padding: 0.5rem 1rem;
background: lightcoral;

}
.flex {
    display: flex;
}
.justify-content {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}